---
homepage: true
title: A better way to submit CORE logs
description: Sign up for early access to new CORE and help us shape the service around your needs.
startButton: 
  text: Sign up now
  href: /
image:
  src: /assets/images/hero.png
  alt: A laptop displaying the homepage for Submit social housing lettings and sales data
---
{% extends 'node_modules/govuk-eleventy-plugin/layouts/base.njk' %}

{% block main %}
{% include "masthead.njk" %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
{% filter markdown %}
## Introducing new CORE
The Department for Levelling Up, Housing and Communities (DLUHC) relies on the data you provide to create better social housing policies and see how they’re working on the ground. Your data helps us to understand who is moving when and why, what properties they are getting and how much they’re paying. Your data directly helps us to design policies to improve housing supply and affordability, and support housing providers to reduce homelessness and ensure vulnerable people get the homes they need.

We’re creating a better way for you to submit CORE data: faster, simpler and built from the ground up with the user at the centre. We now want forward-looking organisations to help perfect our new service.

New CORE is ready to accept your data for 2021/22 and 2022/23, and you can get early access before everybody else.

Have you felt frustrated with submitting CORE logs in the past? Want to find out how the new service could help you? Here are a few reasons why you might want to start using new CORE today.
{% endfilter %}
  </div>
</div>

<hr class="custom-rule govuk-!-margin-top-5 govuk-!-margin-bottom-9">

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half-from-desktop">
{% filter markdown %}
## A service for everybody
However you use new CORE, it’s accessible to everybody and every device: paper, mobile, tablet or using a screen reader or other assistive technology.

You told us the questions are complicated and difficult to understand. By breaking the form up into logical sections with only one question on every page, we’ve made the content clear and easier to digest.
{% endfilter %}  
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <figure class="custom-figure">
      <img src="/assets/images/how-many-people.png" alt="A web browser and a mobile phone display a question asking 'how many people live in the household for this letting?'">
    </figure>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half-from-desktop">
{% filter markdown %}
## You spoke, we listened
Do you find current CORE confusing and tricky to use? Is it the last thing your team wants to do? We’ve taken some of your biggest pain points and created solutions to make submitting data simpler.

For example, you told us that current CORE often rejects postcodes. Now we accept all postcodes, even for new-build properties - so you can complete your logs faster.

We’ve also made sure the rent ranges reflect real-life examples, and made it easier for you to spot any mistakes. This means you can submit accurate data first time, with less help from us.
{% endfilter %}  
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <figure class="custom-figure">
      <img src="/assets/images/postcode-rentrange.png" alt="A web browser displaying the question 'Do you know the property’s postcode?'">
    </figure>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half-from-desktop">
{% filter markdown %}
## We’re supporting the ways you work
It’s not just the CORE website we’ve redesigned. Filling in a log on paper is easier now too. 

We’ve split the form up into handy sections, so you can print the parts you need when interviewing tenants. Or save even more time and part-fill your logs using data from your housing management system.

And if you or your organisation prefer to go paperless, fill CORE in anytime, anywhere on your mobile or tablet.
{% endfilter %}  
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <figure class="custom-figure">
      <img src="/assets/images/paper-form-and-mobile.png" alt="A paper form and mobile phone">
    </figure>
  </div>
</div>

<hr class="custom-rule govuk-!-margin-bottom-9">

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-third">
{% filter markdown %}
## Don’t just take our word for it
{% endfilter %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <blockquote>
      <p class="govuk-body-l custom-quote">“It’s a lot easier! You’ve broken the sections down. It’s easier to see if you’ve made a mistake as you can review it before you go to the next section.”</p>
      <p class="govuk-body-s">Housing and quality coordinator, women's aid charity, December 2021</p>
    </blockquote>
  </div>
</div>

<hr class="custom-rule govuk-!-margin-bottom-9">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% filter markdown %}
## Sign up now
Our team has been hard at work redesigning CORE. You can help us make it even better. [Sign up to take part in our private beta](#) and get early access to the new service.
{% endfilter %}
  </div>
</div>
</main>
</div>
{% endblock %}
