---
layout: product
homepage: true
title: A better way to submit CORE logs
description: Apply for early access to new CORE and help us shape the service around your needs.
startButton: 
  text: Apply now
  href: /
image:
  src: /assets/images/hero.png
  alt: A laptop displaying the homepage for Submit social housing lettings and sales data
---
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% markdown %}
## Introducting new CORE
We’re creating a better way for you to submit CORE data; built from the ground up with the user in mind. We’re looking for forward-looking organisations to perfect our new service. 

New CORE is ready to accept your data for 2021/22. Here are a few of the reasons why you might want to start using new CORE today.
{% endmarkdown %}
  </div>
</div>

