.custom-rule {
  border: none;
  height: 6px;
  width: 100%;
  display: block;
  background-color: #012169;
}
.custom-figure {
  
}
.custom-figure > img {
  display: block;
  max-width: 100%;
}

.custom-quote {
  color: #012169;
  hanging-punctuation: first;
}