{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">
        <h1 class="x-govuk-masthead__title">A better way to submit CORE logs</h1>
        <p class="x-govuk-masthead__description">
          Apply for early access to new CORE and help us shape the service around your&nbsp;needs.
        </p>
        {{ govukButton({
          classes: "x-govuk-button--inverse",
          text: "Apply now",
          href: "#",
          isStartButton: true
        }) }}
      </div>
      <div class="govuk-grid-column-one-half-from-desktop">
        <div class="x-govuk-masthead__image">
          <img src="/assets/images/hero.png" alt="A laptop displaying the homepage for Submit social housing lettings and sales data">
        </div>
      </div>
    </div>
  </div>
</div>